/*
********************************************************************************
*** BASE
********************************************************************************
*/

body {
}

svg {
	height:			95vh;
}

path {
	pointer-events:	all;
}

/*
********************************************************************************
*** CITIES
********************************************************************************
*/

.city:hover {
	cursor:			pointer;
}

.city:hover .city-border {
	fill:			grey !important;
	stroke-width:	200%;
}

/*
********************************************************************************
*** ROADS
********************************************************************************
*/

.road {
	visibility:		hidden;
}

.road path {
	animation:		anim-roads 1s infinite linear;
}

@keyframes anim-roads {
	to {
		stroke-dashoffset:	3;
	}
}

/*
********************************************************************************
*** GRAPHICS
********************************************************************************
*/

/*
**************************************************
*** TREES
**************************************************
*/

.tree {
	animation:				anim-trees 2s infinite ease-in-out;
	animation-direction:	alternate;
	transform-box:			fill-box;
	transform-origin:		50% 100%;
}

.tree:nth-child(2n) 	{ animation-delay: 0s; }
.tree:nth-child(2n + 1)	{ animation-delay: -0.4s; }
.tree:nth-child(3n)		{ animation-delay: -0.8s; }
.tree:nth-child(5n)		{ animation-delay: -1.2s; }
.tree:nth-child(7n)		{ animation-delay: -1.6s; }

@keyframes anim-trees {
	from {
		transform:		rotate(-15deg);
	}
	to {
		transform:		rotate(15deg);
	}
}
